body{
    background-color: rgb(105, 87, 87);
}

.con{
    display: flex;
    position: relative;
    justify-content:center;
    margin: 30vh 30vw;
}

.container{
    display: flex;
    position: relative;
    width: 65ch;
    height: 30vh;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 20px;
}

.container > h2{
    text-align: center;
    color: #81D8D0 ;
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0em 0.5em;
    margin-top: 0.5em;
}

.container > form{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input{
    padding:0.5em;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.288);
    width: 98%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

button{
    font-weight: bold;
    border-radius: 7.5px;
    background-color: rgb(49, 216, 208);
    padding: 0.5em;
    margin: 0.5em 1.5em;
    width: 92.5%;
    
    
}
button:hover{
    background-color: rgba(43, 116, 184, 0.644);
}